<div class="banner_x">
    <div class="center-content">
        <a href="/homepage">
            <div class="logo fl"></div>
        </a>
        <a href="/products/all">
            <div class="ad_top fl"></div>
        </a>
    </div>

    <div class="search-cart-container">
        <div class="search">
            <form action="/products/all" method="get">
                <div class="text fl">
                    <input type="text" name="keyword" class="shuru" placeholder="华为mate70pro现货开抢">
                </div>
                <div class="submit fl">
                    <input type="submit" class="sousuo" value="搜索" />
                </div>
                <div class="clear"></div>
            </form>
        </div>
        <div class="cart-button">
            <a href="/cart" class="cart-link">
                <svg class="cart-icon" viewBox="0 0 24 24" width="20" height="20">
                    <path fill="currentColor"
                        d="M7 18c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12L8.1 13h7.45c.75 0 1.41-.41 1.75-1.03L21.7 4H5.21l-.94-2H1zm16 16c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                </svg>
                <span class="cart-text">购物车</span>
            </a>
        </div>
        <div class="user-buttons">
            <a href="javascript:void(0)" id="logout-link" class="icon-button" title="登出">
                <svg class="icon" viewBox="0 0 24 24" width="18" height="18">
                    <path fill="currentColor"
                        d="M16 13v-2H7V8l-5 4 5 4v-3h9zm6-9v16c0 1.1-.9 2-2 2H8c-1.1 0-2-.9-2-2v-4h2v4h12V4H8v4H6V4c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2z" />
                </svg>
                <span class="label">登出</span>
            </a>
            <a href="/customer-service.html" class="icon-button" title="客服咨询">
                <svg class="icon" viewBox="0 0 24 24" width="18" height="18">
                    <path fill="currentColor"
                        d="M12 2a10 10 0 00-10 10v3a3 3 0 003 3h2v-6H5v-1a7 7 0 0114 0v1h-2v6h2a3 3 0 003-3v-3A10 10 0 0012 2zm-2 14h4v4h-4v-4z" />
                </svg>
                <span class="label">客服咨询</span>
            </a>
            <a href="/profile.html" class="icon-button" title="个人中心">
                <svg class="icon" viewBox="0 0 24 24" width="18" height="18">
                    <path fill="currentColor"
                        d="M12 2a10 10 0 100 20 10 10 0 000-20zm0 6a3 3 0 110 6 3 3 0 010-6zm0 8c-2.67 0-8 1.34-8 4v1h16v-1c0-2.66-5.33-4-8-4z" />
                </svg>
                <span class="label">个人中心</span>
            </a>
        </div>
    </div>
</div>